@import "tailwindcss";

/* CSS-переменные под твой UI */
:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #fafafa;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background: var(--background);
  color: var(--foreground);

  font-family: var(--font-geist-sans), ui-sans-serif, system-ui, -apple-system,
    Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  font: inherit;
}
