@import "tailwindcss";

/* переменные, которые у тебя используются */
:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #fafafa;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
}
